/*ID*/
#contenidos
{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
}

/*Etiquetas*/

body
{
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;	
	background-size: cover;
}

h1
{
	font-family: Franklin Gothic Book;
	margin-left: 10px;
	font-size: 40px;
	text-align: left;
}

h2
{
	font-family: Franklin Gothic Book;
	font-size: 35px;
	margin-left: 10px;
	text-align: center;
	color: rgb(51,51,51);
}

h3
{
	font-family: Franklin Gothic Book;
	font-size: 30px;
	text-align: center;
	color: rgb(51,51,51);
}

header
{
	width: 1000px;
	height: 150px;
	border-radius: 10px; 
	border-color: rgb(0,88,131);
	border-style: solid;
	background: rgba(255,255,255, 0.5);
}

section
{
	width: 1000px;
	background:rgba(255,255,255, 0.5);
	height: 600px;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
}

footer
{
	width: 1000px;
	height: 40px;
	background: red;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
	background-color: rgb(240,180,41);
	border-color: rgb(0,88,131);
	border-style: solid;
}

p
{
	font-size: 14px;
	font-family: Franklin Gothic Book;
	font-weight: bolder;
	line-height: 24px;
	padding: 10px;
	text-align: justify;
}


/*navegador*/

nav ul
{
	list-style: none;
	padding: 0;
}

nav li
{
	line-height: 3rem;
	position: relative;
}

nav li ul
{
	position: absolute;
}

nav a
{
	color: #ddd;
	display: block;
	padding: 0 2.5em;
	text-decoration: none;
	transition: 0.4s;
}

nav a:hover
{
	background: rgba(0,0,0,0.5);
}

/*menu*/

.menu
{
	background: #333;
	display: table;
	width: 100%; 
}

.menu > li
{
	float: left;
}

/*submenu*/

nav li li
{
	background: #222;
	max-height: 0;
	overflow:hidden;
	transition: all 0.5s;
	width: 200px;
}

nav li:hover > ul > li
{
	max-height: 500px;
	overflow:visible;
}

nav > ul > li > ul
{
	top: 100%
}